body{
    background-image: url(img/wall.jpg);
    background-size: cover;

}
.navb{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    border-bottom: 5px solid rgb(151, 151, 151);
    opacity: 0.9;
}
.lg{
    width: 130px;
}
.conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1600px;
    margin: 0 auto;

  }
.nav-links{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    display: inline;
    align-items: center;
    justify-content: center;
    margin-right: 100px;
  }
  
  .nav-links li:last-child {
    margin-right: 0;
  }
  
  .nav-links li a {
    color: #fff;
    text-decoration: none;
  }
  
  .nav-links li a:hover {
    color: #ccc;
  }
  p {
    background-color: #333;
    width: 50%;
    padding: 50px;
    border-radius: 50px;
    margin-top: 400px;
    animation-duration: 2s;
    animation-name: slidein;
  }
  .pi{
    color: white;
    font-size: 35px; 
    text-transform: uppercase;
    font-family: cursive;
  }
  @keyframes slidein {
    from {
      margin-left: 50%;
      width: 50%;
    }
  
    to {
      margin-left: 0%;
      width: 50%;
    }
  }